[credential "https://github.com"]
        helper =
        helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
        helper =
        helper = !/usr/bin/gh auth git-credential
[user]
	name = schalkiii
	email = schalkiii@cysic.xyz
[http]
	proxy = 
[https]
	proxy =
[core]
	whitespace = trailing-space
	excludesfile = ~/.gitignore_global
[apply]
	whitespace = fix
[credential]
	helper = store
