[credential "https://github.com"]
        helper =
        helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
        helper =
        helper = !/usr/bin/gh auth git-credential
[user]
	name = schalkiii
	email = schalkiii@cysic.xyz
[http]
	proxy = http://10.233.10.5:7890
[https]
	proxy = http://10.233.10.5:7890
[core]
	whitespace = trailing-space
	excludesfile = /export/home/schalkiii/.gitignore_global
[apply]
	whitespace = fix
[credential]
	helper = store
